header {
    padding-block: 32px;
    font: var(--text-md)
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    align-items: center;
    gap: 32px;
   transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border 0.3s ease;
    border: 2px solid transparent;
}

#profile > div {
    max-width: 384px;
}

#lista {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 280px;
}

#lista li {
    display: flex;
    align-items: center;
    gap: 8px;
}

#profile:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(255, 140, 0, 0.35);
    border: 2px solid #ff8c00;
}
