main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 280px;
    height: 280px;
    object-fit: cover;
   transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border 0.3s ease;
    border: 2px solid transparent;
    
}

main img:hover{
        transform: translateY(-6px);
     box-shadow: 0 10px 20px rgba(0,0,0,0.15);
     border: 2px solid #ff8c00;

}